@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --font-roboto: 'Roboto', sans-serif;
    --font-playfair: 'Playfair Display', serif;
    --font-spectral: 'Spectral', serif;
    color: #F8F8FF;
    user-select: none;
  }
}


html {
  scroll-behavior: smooth;
  font-size: calc(100vw / 1920 *10);
  line-height: 1.1;
  letter-spacing: 0.1rem;
}

@media (max-width: 767px) {
  html {
    font-size: calc(100vw / 430 *10);
  }
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
}

a,
button {
  display: block;
}

.pointer-events-none * {
  pointer-events: none !important;
}


.pattern::before,
.pattern::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 9.614rem;
  background-size: 9.614rem;
  opacity: 0.7;
}

.pattern::before {
  top: -3rem;
  background-position-x: 2rem;
  background-position-y: 3.1rem;
}

.pattern::after {
  bottom: -3rem;
  background-position-x: 2rem;
  background-position-y: 3.1rem;
  transform: rotate(180deg);
}

.card_item_0 {
  background: linear-gradient(137.3deg, #B9BCC1 10.32%, #D1D2D6 31.23%, #EEF0EF 50.12%, #DDE1E2 67.34%, #AEB6B8 86.35%);
}

.card_item_0.active {
  background: linear-gradient(137.3deg, #DCA61F 10.32%, #F6EC97 31.23%, #FADD5A 50.12%, #FBDE9C 67.34%, #E3A21F 86.35%);
}