@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --font-roboto: 'Roboto', sans-serif;
    --font-playfair: 'Playfair Display', serif;
    --font-spectral: 'Spectral', serif;
    color: #F8F8FF;
  }
}


html {
  scroll-behavior: smooth;
  font-size: calc(100vw / 1920 *10);
  line-height: 1.1;
  letter-spacing: 0.1rem;
}

@media (max-width: 767px) {
  html {
    font-size: calc(100vw / 430 *10);
  }
}

body {
  min-height: 100dvh;
}

a,
button {
  display: block;
}